Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Main/Level/Level1_BuiltData.uasset
Content/Main/Weapon/AmmoEC.uasset
Content/Main/Weapon/WeaponBase.uasset
Content/Main/Level/Level1.umap
Content/Main/Level/Level1_BuiltData.uasset
